@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Patua+One&display=swap');
body{
    background-color: black;
    color: white;
    min-height: 100vh;
    /* background-color: #000000; */
    /* background-image: linear-gradient(to right top, #f967ba, #bd60ae, #845696, #554876, #333650, #313d54, #314356, #344958, #3e7186, #419db1, #48cbd5, #5ffbf1); */
    background: rgb(7,6,40);
    font-family: 'Patua One', cursive;

background: linear-gradient(0deg, rgb(1, 3, 88) 0%, rgb(0, 0, 0) 100%);
}
.container{
    height: auto;
    align-self: center;
    text-align: center;
    color: aliceblue;
    font-family: 'Patua One', cursive;
    font-size: 20px;

}

.loadoutgen {
    width: 30%;
    height: 30%;
    border: none;
    outline: none;
    color: #fff;
    background: #5B7DB1;
    cursor: pointer;
    position: relative;
    z-index: 0;
    padding: 10px;
    border-radius: 10px;
}

.loadoutgen:hover{
    background-color: #61A4BC;
    color: black;
}
h3{
    font-size: 15px;
}

.row{
    display: none;
}

button{
    align-self: center;
    text-align: center;
}

p{
    font-size: 20px;
}

.loadoutimage{
    width: 100%;
    border: 5px solid black;
}


.attachment{
    display: none;
    width: 10%;
}
#muzzle{
    display: none;
}
#barrel{
    display: none;
}
#optic{
    display: none;
}
#stock{
    display: none;
}
#perks{
    display: none;
}
#laser{
    display: none;
}
#underbarrel{
    display: none;
}
#reargrip{
    display: none;
}
#ammunition{
    display: none;
}

#maintext {
    margin-top: 25px;
    font-size: 20px;

}