body{
    background-color: black;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #f967ba, #bd60ae, #845696, #554876, #333650, #313d54, #314356, #344958, #3e7186, #419db1, #48cbd5, #5ffbf1);
}
.container{
    border: 1px solid black;
    height: auto;
    width: 80%;
    align-self: center;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.row{
    display: none;
}

button{
    align-self: center;
    text-align: center;
}

p{
    font-size: 30px;
}

.loadoutimage{
    width: 100%;
}
#barrel{
    font-size: 30px;
}

.attachment{
    display: none;
}
#muzzle{
    display: none;
}
#barrel{
    display: none;
}
#optic{
    display: none;
}
#stock{
    display: none;
}
#perks{
    display: none;
}
#laser{
    display: none;
}
#underbarrel{
    display: none;
}
#reargrip{
    display: none;
}
#ammunition{
    display: none;
}