@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Luckiest+Guy&family=Montserrat:wght@700&family=Nosifer&family=Patua+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;


}
body{
    background-color: black;
    color: white;
    min-height: 100vh;
    background: rgb(7,6,40);
    box-sizing: content-box;

background: linear-gradient(0deg, rgb(1, 3, 88) 0%, rgb(0, 0, 0) 100%);
}

@media only screen and (max-width: 900px) {
    body{
        color: #5B7DB1;
    }
    .loadoutgen{
        width: 70% !important;
    }
    .col{
        color: aquamarine;
    }
    .maintext{
        font-size: 10px !important;


    }
    .attachmentstext{
        font-size: 10px !important;
    }
  }
.container{
    height: auto;
    width: 100%;
    align-self: center;
    text-align: center;
    color: aliceblue;
    font-family: 'Patua One', cursive;
    font-size: 15px;
    box-sizing: content-box;

}

.loadoutgen {
    width: 30%;
    height: 30%;
    border: none;
    outline: none;
    color: #fff;
    background: #5B7DB1;
    cursor: pointer;
    position: relative;
    z-index: 0;
    padding: 10px;
    border-radius: 10px;
}

.loadoutgen:hover{
    background-color: #61A4BC;
    color: black;
}
h3{
    font-size: 15px;
}

.row{
    display: none;
}

button{
    align-self: center;
    text-align: center;
}

p{
    font-size: 20px;
}

.loadoutimage{
    width: 100%;
    border: 5px solid black;
}
.challenge{
    font-size: 30px;
}
#challenge{
    display: none;
}
.challenge h4{
    font-size: 50px;
}
.attachment{
    display: none;
    width: 100%;
}
#muzzle{
    display: none;
}
#barrel{
    display: none;
}
#optic{
    display: none;
}
#stock{
    display: none;
}
#perks{
    display: none;
}
#laser{
    display: none;
}
#underbarrel{
    display: none;
}
#reargrip{
    display: none;
}
#ammunition{
    display: none;
}

#maintext {
    margin-top: 25px;
    font-size: 2vh;

}

#mainmainmain{
    color: white;
}